/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
}

/* HEADER */

/* DEBUG */

/* HEADER - TOP */
.header-top {
    padding: 20px;
    background-color: #ADD8E6;
}

.items-header {
    width: 75%;
    margin: auto;
    background-color: #DAA520;
    display: flex;
}

.items-header>* {
    border: 2px dashed black;
    padding: 10px;
}

.link {
    flex-basis: 60%;
    text-align: center;
}

.logo,
.login {
    flex-basis: 20%;
}

/* HEADER-BOTTOM */

.header-bottom {
    width: 100%;
    padding: 60px;
    background-color: #00008B;
}

.pink-box {
    background-color: #EE82EE;
    border: 2px dashed black;
    width: 55%;
    height: 400px;
    margin: auto;
}

/* MAIN */

/* SECTION 1 E SECTION 3*/

main section>* {
    display: flex;
    padding: 50px;
    width: 75%;
    margin: auto;
}

.sky_blue {
    background-color: #1E90FF;
    border: 2px dashed black;
    flex-basis: 65%;
    height: 600px;
}

.lightpink {
    background-color: #FFC0CB;
    border: 2px dashed black;
    flex-basis: 45%;
    height: 600px;
}

/* SECTION 2 */

main section:nth-child(2) {
    background-color: #D3D3D3;
}

.box-section_2 {
    flex-direction: row-reverse;
}

/* SECTION 4 */

main section:last-child {
    background-color: #D3D3D3;
}

.green {
    background-color: green;
    width: 100%;
    height: 1000px;
    margin: auto;
    border: 2px dashed black;
}

/* FOOTER */

/* FOOTER PRIMA SEZIONE */

.footer-top,
.footer-bottom {
    background-color: #23272A;
}

.columns-box {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 50px;
    width: 75%;
    height: 600px;
    display: flex;
}

.left-column {
    background-color: #F08080;
    width: calc((100% / 4) * 2);
    border: 2px dashed black;
}

.right-columns {
    width: 100%;
    display: flex;
    border: 2px dashed black;
}

.right-columns>* {
    background-color: #20B2AA;
    width: 25%;
    border: 2px dashed white;
}

hr {
    border: 1px solid white;
}

/* FOOTER SECONDA SEZIONE  */

.footer-bottom {
    padding-top: 40px;
}

.footer-bottom>div {
    width: 75%;
    margin: auto;
    background-color: #7FFFD4;
    display: flex;
    justify-content: space-between;
}

.logo-end,
.logo-end+div {
    margin: 20px 0;
    padding: 10px;
    background-color: #FFB6C1;
    border: 2px dashed black;
}